.admin-panel {
  div {
    background-color: white;
    border-bottom: 1px solid black;
    font-size: 18px;
    height: 64px;
    padding: 8px;
    width: 100vw;
  }

  .name, input {
    flex: 1;
  }

  button {
    border: none;
    background: white;
  }

  .delete {
    color: red;
  }
}
